---
import BaseLayout from '../layouts/BaseLayout.astro'
import Footer from '../components/Footer.astro'
import Hero from '../components/Hero.astro'
import Highlights from '../components/Highlights.astro'
import Navbar from '../components/Navbar.astro'
import TerminalPreview from '../components/TerminalPreview.astro'
---

<BaseLayout>
  <Navbar />
  <main>
    <Hero />
    <Highlights />
    <TerminalPreview />
  </main>
  <Footer />
</BaseLayout>